.description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-primary-dark);
}

@media screen and (max-width: 940px) {
  .description {
    padding: 20px;
    box-shadow: inset 0px -1px 0px var(--color-light-secondary);
  }
}
