.description {
    height: 100%;
    display: grid;
    grid-template-columns: 309px;
    grid-auto-rows: max-content;
    gap: 12px;
    color: var(--color-primary-dark);
}

@media screen and (max-width: 880px) {
  .description {
    grid-template-columns: auto;
    padding: 20px;
  }
}
