.page {
  font-family: 'TT Firs Neue';
  --color-primary: #7100ff;
  --color-primary-dark: #3b3748;
  --color-primary-light: #fcfaf7;
  --color-light-secondary: #ebe9ed;
  --color-dark-secondary: #96949e;
  --color-accident: #ffd400;
}
