.footer__column-link {
  margin-bottom: 24px;
  display: inline-block;
  font-weight: 500;
  padding: 0;
}

.footer__column-link:hover .footer__column-icon {
  background-image: url(../../../images/icons/hover/ref.svg);
}

@media screen and (max-width: 1040px) {
  .footer__column-link {
    display: flex;
    justify-content: space-between;
  }
}
