.footer__column-link {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-primary-dark);
  }