.header__menu {
  display: none;
}

@media screen and (max-width: 940px) {
  .header__menu {
    display: flex;
    background-color: transparent;
    border: none;
  }

  .header__menu:hover {
    opacity: .7;
    cursor: pointer;
  }
}
