.footer__column_type_org {
  max-width: 310px;
  min-width: auto;
  flex-grow: 1;
}

@media screen and (max-width: 1040px) {
  .footer__column_type_org {
    max-width: none;
    min-width: none;
    flex-grow: initial;
  }
}
