.form__select-pseudo-option {
  padding: 12px 24px;
  transition: background-color .4s linear .3s;
}

.form__select-pseudo-option:hover {
  background-color: var(--color-dark-secondary);
}

.form__select-pseudo-option:active {
  color: var(--color-primary-light);
  background-color: var(--color-primary);
  padding: 12px 64px 12px 24px;
  background-image: url(../../../images/icons/check.svg);
  background-size: 24px 16.4px;
  background-repeat: no-repeat;
  background-position: top 16.14px right 23.97px;
}

@media screen and (max-width: 940px) {
  .form__select-pseudo-option {
    padding: 12px 20px;
  }

  .form__select-pseudo-option:active {
    padding: 12px 56px 12px 20px;
    background-size: 20px 13.67px;
    background-position: top 15.45px right 19.98px;
  }
}
