.header__heart-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url(../../../images/icons/like.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background-image .4s linear .3s;
}
