.button_type_noborder {
  background-color: transparent;
  border: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
  border: none;
}

.button_type_noborder:hover {
  background-color: transparent;
  color: var(--color-hover);
}
