.form__select-option-container_active {
  background-color: #fff;
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(59, 55, 72, 0.12);
  border-radius: 24px;
  padding: 24px 0;
  position: absolute;
  left: 0;
  top: 48px;
}
