.header__geo {
  display: flex;
}

.header__geo:hover .header__geo-icon {
  background-image: url(../../../images/icons/hover/geo.svg);
}


@media screen and (max-width: 1240px) {
  .header__geo {
    display: none;
  }
}
