.form__label_for_radio {
  display: flex;
  flex-direction: row;
  gap: 9px;
  color: var(--color-dark-secondary);
}

@media screen and (max-width: 940px) {
  .form__label_for_radio {
    gap: 4.83px;
  }
}
