.form__input_type_select {
    appearance: none;
    background-image: url(../../../../images/select.svg);
    background-repeat: no-repeat;
    background-size: 13.17px 7.59px;
    background-position: right 19.41px top 21px;
}

.form__input_type_select:invalid {
  color: var(--color-dark-secondary);
}

@media screen and (max-width: 940px) {
  .form__input_type_select {
    background-size: 10.98px 6.32px;
    background-position: top 19.5px right 18.18px;
  }
}
