.form__input_type_radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__input_type_radio + .form__pseudo-item {
    background-image: url(../../../../images/icons/radio_inactive.svg);
}

.form__input_type_radio:checked + .form__pseudo-item {
    background-image: url(../../../../images/icons/radio_active.svg);
}
