.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px 0 0;
  border: none;
  box-shadow: inset 0px -1px 0px var(--color-light-secondary);
}

.form__inputs:last-of-type {
  margin: 16px 0 40px;
  box-shadow: none;
}

@media screen and (max-width: 940px) {

  .form__inputs {
    padding: 20px;
  }

  .form__inputs:first-of-type {

  }

  .form__inputs:last-of-type {
    margin: 0;
  }
}
