.form__input {
    background-color: #fff;
    color: var(--color-primary-dark);
    padding: 10px 22px;
    border: 2px solid var(--color-dark-secondary);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    -moz-appearance: textfield;
    transition: border .2s linear .15s;
}

.form__input:focus {
    outline: none;
    border: 2px solid var(--color-primary);
}

.form__input:invalid {
  border: 2px solid var(--color-error);
}

.form__input:invalid + .form__label_type_error {
  display: flex;
}

.form__input::placeholder {
    color: var(--color-dark-secondary);
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 940px) {
  .form__input {
    font-size: 16px;
    line-height: 20px;
    border-radius: 22px;
    max-width: 100%;
  }
}

.form__input:hover {
  border: 2px solid var(--color-hover);
}
