.table {
  list-style: none;
  padding: 0;
  counter-reset: table;
}

@media screen and (max-width: 1024px) {
  .table {
    max-width: 710px;

  }
}

@media screen and (max-width: 940px) {
  .table {
    max-width: none;
  }
}
