.header__geo-icon {
  margin: 0 8px 0 40px;
  width: 20.11px;
  height: 24px;
  background-size: 100% 100%;
  background-image: url(../../../images/icons/geo.svg);
  background-repeat: no-repeat;
  transition: background-image .4s linear .3s;
}
