.footer {
  margin: 0 auto;
  padding: 80px 40px;
  background-color: var(--color-light-secondary);
  /*display: grid;
  grid-template-columns: auto minmax(min-content, 310px) minmax(min-content, 427px) minmax(min-content, 310px); */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1040px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
    background-color: var(--color-accident);
  }
}

@media screen and (max-width: 940px) {
  .footer {
    display: none;
  }
}
