.section_type_form {
  margin: 40px auto 80px;
  display: grid;
  grid-template-columns: 309px 531px;
  gap: 40px;
}

@media screen and (max-width: 880px) {
  .section_type_form {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
  }
}
