.button {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  padding: 10px 22px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  transition: background-color .2s linear .15s, border .2s linear .15s, color .2s linear .15s;
}

.button:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-light-secondary);
  color: var(--color-dark-secondary);
}

.button:disabled:hover {
  cursor: initial;
}

@media screen and (max-width: 940px) {
  .button {
    border-radius: 22px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }
}
