.form__type {
  background-color: var(--color-primary);
  justify-content: flex-start;
  color: var(--color-primary-light);
  border-radius: 26px;
  background-image: url(../../../images/check.svg);
  background-size: 24px 16.4px;
  background-position: right 15.46px top 16.14px;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 24px;
  margin: 0;
}
